body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('1618112549_24-p-planeta-kibertron-fentezi-30.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#start{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('1641865309_88-gamerwall-pro-p-kosmos-planeti-dlya-detei-fentezi-krasivo-96.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background:  rgb(0, 0, 0);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}



video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*#videostart{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 998;
}*/


span{
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
 z-index: 99;
}

/*span:hover{
    transition-duration: 3s;
  color:black;
}*/

.startGame{
  position: fixed;
  top:310px;
  left:-35px;
/*  background-color: black;*/
  color: white;
  padding: 15px;
border-top: solid 5px #0DFF00;
 border-bottom: solid 5px red;
  box-shadow: 0 0 20px 10px yellow;
/*  opacity: .4;*/
  border-radius: 50%;
  width: 290px;
  height: 290px;

   animation-name: rotation; 
   animation-duration: 60s; 
   animation-iteration-count: infinite; 
   animation-timing-function: linear; 
  z-index: 100;
 } 
 @keyframes rotation { 
   0% { 
     transform: rotate(0deg); 
   } 
  
   100% { 
     transform: rotate(360deg); 
   } 
 }

.meteor1{
  position: absolute;
  top:0;
  right: -50px;
  width: 40px;
  height: 40px;
/*  background-color: black;*/
  box-shadow: 0 0 15px 5px white;
  border-radius: 50%;
/*  opacity: .9;*/
    background-image: url('1618112549_24-p-planeta-kibertron-fentezi-30.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.meteor2{
  position: absolute;
  top:-50px;
  right: 100px;
  width: 40px;
  height: 40px;
  background-color: black;
  box-shadow: 0 0 15px 5px white;
  border-radius: 50%;
/*  opacity: .9;*/
    background-image: url('pngwing.com (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.meteor3 {
  position: absolute;
  bottom: -5px;
  left: -30px;
  width: 40px;
  height: 40px;
  background-color: black;
  box-shadow: 0 0 15px 5px white;
  border-radius: 50%;
/*  opacity: .9;*/
    background-image: url('pngwing.com (3).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.meteor4 {
  position: absolute;
  bottom: 0px;
  left: -100px;
  width: 40px;
  height: 40px;
  background-color: black;
  box-shadow: 0 0 15px 5px white;
  border-radius: 50%;
/*  opacity: .9;*/
    background-image: url('pngwing.com (4).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
  position: fixed;
  top:460px;
  left:40px;
  color: white;
  z-index: 998;
}



